services:
  db:
    image: postgres:17
    container_name: raxcelpostgres
    ports:
      - 5432:5432
    volumes:
      - db-store:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: "user"
      POSTGRES_PASSWORD: "passw0rd"
      POSTGRES_DB: "mydb"
    networks:
      - mynetwork

networks:
  mynetwork:
    driver: bridge

volumes:
  db-store:
  redis-data:
